[mysqld_multi3
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user       = root
password   = admin
server-id  = 1    #主机标示，整数
log_bin    = /var/log/mysql/mysql-bin.log   #确保此文件可写
read-only  =0  #主机，读写都可以

[mysqld2]
socket     = /tmp/mysql.sock2
port       = 3307
pid-file   = /var/lib/mysql2/mysql2.pid2
datadir    = /var/lib/mysql2
user       = root
server-id  = 2
log_bin    = /var/log/mysql/mysql-bin.log
master-host=localhost
master-user=backup
master-pass=123456
master-port=3306
master-connect-retry=60 #如果从服务器发现主服务器断掉，重新连接的时间差(秒)


[mysqld3]
mysqladmin = /path/to/mysqladmin
socket     = /tmp/mysql.sock3
port       = 3308
pid-file   = /var/lib/mysql3/mysql3.pid3
datadir    = /var/lib/mysql3
user       = root
server-id  = 3
log_bin    = /var/log/mysql/mysql-bin.log
master-host=localhost
master-user=backup
master-pass=123456
master-port=3306
master-connect-retry=60 #如果从服务器发现主服务器断掉，重新连接的时间差(秒)

